In [57]:
import pandas as pd
import re 
import nltk

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [58]:
df = pd.read_csv('../datas/raw_data/IMDB_Dataset.csv')

In [59]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [60]:
def clean_text(text):
    text = text.lower()                          # Convert to lowercase
    text = re.sub(r'<.*?>', '', text)            # Remove HTML tags
    text = re.sub(r'https?://\S+|www\.\S+', '', text)  # Remove URLs
    text = re.sub(r'([!?.])\1+', r'\1', text)    # Reduce repeated punctuation
    text = re.sub(r'(.)\1{2,}', r'\1\1', text)   # Limit repeated characters
    text = re.sub(r'\d+/\d+|\d+', '', text)      # Remove numbers
    text = re.sub(r'[^\w\s]', '', text)          # Remove punctuation
    text = re.sub(r'\s+', ' ', text).strip()     # Normalize spaces
    
    word = text.split()
    stop_word= set(stopwords.words("english"))
    words = [w for w in word if w not in stop_word]

    WNL  = WordNetLemmatizer()
    words = [WNL.lemmatize(w) for w in words]

    return " ".join(words)

In [66]:
df["clean_text"] = df["review"].apply(clean_text)

In [68]:
df.head()

,review,sentiment,clean_text
0,One of the other reviewers has mentioned that ...,positive,one reviewer mentioned watching oz episode you...
1,A wonderful little production. <br /><br />The...,positive,wonderful little production filming technique ...
2,I thought this was a wonderful way to spend ti...,positive,thought wonderful way spend time hot summer we...
3,Basically there's a family where a little boy ...,negative,basically there family little boy jake think t...
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,petter matteis love time money visually stunni...

In [ ]:
df =df[["review", "clean_text","sentiment"]].tail()

In [71]:
df.head()

,review,sentiment,clean_text
0,One of the other reviewers has mentioned that ...,positive,one reviewer mentioned watching oz episode you...
1,A wonderful little production. <br /><br />The...,positive,wonderful little production filming technique ...
2,I thought this was a wonderful way to spend ti...,positive,thought wonderful way spend time hot summer we...
3,Basically there's a family where a little boy ...,negative,basically there family little boy jake think t...
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,petter matteis love time money visually stunni...

In [76]:
df[["clean_text","sentiment"]].to_csv("../datas/clean_data/clean_dataset.csv", index=False)

In [77]:
df.shape

(50000, 3)