In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections as counter
import wordcloud as WordCloud

In [2]:
df = pd.read_csv("../datas/clean_data/clean_dataset.csv")

In [3]:
df.head()

                                          clean_text sentiment
0  thought movie right good job wasnt creative or...  positive
1  bad plot bad dialogue bad acting idiotic direc...  negative
2  catholic taught parochial elementary school nu...  negative
3  im going disagree previous comment side maltin...  negative
4  one expects star trek movie high art fan expec...  negative