In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("IMDB_Dataset.csv")

In [4]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
print(f"Row X Column: {df.shape}")

Row X Column: (50000, 2)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [12]:
print(df.loc[1004]["review"])
print(df.loc[1004]["sentiment"])

Strangely enough this movie never made it to the big screen in Denmark, so I had to wait for the video release. My expectations where high but they where in no way disappointed. As always with Ang Lee there is fantastic acting, an intelligent and thrilling plot that has you guessing right till the end and superb filming. Along with Unforgiven this is easily one of the two best westerns of the 90`s.<br /><br />People who expect something along the line of Mel Gibson in The Patriot(corny) or Braveheart(acceptable) will be sourly disappointed, all others who appreciate the above mentioned qualities will have a fantastic time watching it. 9 out of 10.
positive

In [13]:
print(df.loc[2007]["review"])
print(df.loc[2007]["sentiment"])

waste of 1h45 this nasty little film is one to avoid, its like a cheap badly plotted cross between saw and a few other recent films about kidnap, why the writer wrote this is obvious..he has no soul and did it to try and me some money. The twists were obvious, when those in peril could escape they did the obvious and didn't etc.. only good thing about it is I've discovered 1 new actress worth watching..peyton list, don't watch shuttle though, there are too many better nicer films to watch rather than this that will make you miserable and think less of the world. Spend your time more wisely watch good films, do some exercise, cook a nice meal..anything but waste your time on rubbish like this
negative

In [14]:
print(df.loc[3008]["review"])
print(df.loc[3008]["sentiment"])

Here's an interesting little movie that strictly gives the phrase "low budget" a horrible name. Our physics teacher who has about nine kids creates a strange serum that causes "molecular reorganization". Students are hopelessly killed from fake coincidences of submarine sandwiches and flying school supplies. Sounds like a resurrection of classic B-movies from the 50s, right? Nope! It's not an example of high camp fun, which is way, WAY off the mark. A glamorous showcase of breasts and butts ensues our desire for pleasure, opposing the horror that should have had 99.44% more in the first place. Bottom-of-the-barrel entertainment at its best, aided by pints of red blood and dead student bodies. Atrocious movies like this would make the ultimately catastrophic GURU THE MAD MONK (1970) the work of an intelligent genius who has a Master's degree in film production! It's an automatic "F", so rest easy!
negative

In [15]:
print(df.loc[3857]["review"])
print(df.loc[3857]["sentiment"])

Arthur Hunnicutt plays a very stereotypical role as a mountain man (probably the Ozarks) who goes hunting with his favorite coon dog. However, the dog appears to be drowning when Hunnicutt jumps in after him. It becomes obvious pretty soon that despite Hunnicutt and his dog roaming about after leaving the water that they both died in the water--as no one responds when he talks to them and sees and hears people talking about his and the dog's death. Yet, oddly, Hunnicutt is REALLY slow on the uptake and it takes him a while to understand they are talking about him! I think this was actually done as padding, as there really wasn't enough material to fill the half hour time slot.<br /><br />Later, in the "surprise twist", he comes upon Heaven--or at least his concept of the place. He's invited in, but since they won't allow dogs, he has other ideas! Overall, reasonably well acted but of dubious spiritual value! With no twists or irony, this episode is a bit dull--not "Twilight Zone-y" enough for my tastes.
negative

In [16]:
df["sentiment"].value_counts()

sentiment
positive    25000
negative    25000
Name: count, dtype: int64